# Maven target directory
target/

# classpath gerado para rodar o servidor (veja o README)
cp.txt

# Logs
*.log

# IDE files
*.iml
.idea/
*.ipr
*.iws
*.classpath
*.project
.settings/

# OS files
.DS_Store
Thumbs.db

# Others
*.bak
